* {
    font-family: sans-serif;
}
body {
    background-color: black;
    color: #F6F6F6;
}

.titulo-azul             {
    color:#22d4fd ;
}

.botao {
    display: inline-block;
    padding: 10px;
    background-color:#22D4FD;
    border-radius: 20px;
    text-decoration: none;
    color: #F6F6F6;
    text-align: center;
    font-size: 16px;
}

.botao:hover {
    background-color: #509cee;
}

.kanye {
    padding: 20px;

}