@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #443627;
    --cor-secundaria: #D8C4B6;
    --cor-terciaria: #D98324;
    --cor-hover: #F2F6D0;
    --cor-cabecalho: #272727
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    overflow-y: auto;
}

.cabecalho {
    padding: 1% 0% 1% 11%;
    background-color: var(--cor-cabecalho);
}


.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    transform: scale(1.4);
}

.apresentacao {
    padding: 5%, 15%;
    flex-grow: 1;
    margin: 0% 10% 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo {
    padding: 5px;
    margin: 0;
    font-size: 34px;
    font-family: "Krona One", sans-serif;
}

.titulo-azul {
    color: var(--cor-terciaria);
}

.paragrafo {
    padding: 5px;
    margin: 0;
    font-size: 22px;
   
}

.paragrafos {
    border: 2px solid var(--cor-terciaria);
    border-radius: 14px;
}

.botaoDiv {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 5px;
    flex-direction: column;
}

.botao__titulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding: 15px;
}

.botao {
    display: flex;
    justify-content: center;
    padding: 21px;
    border: 2px, solid var(--cor-terciaria);
    border-radius: 8px;
    width: 378px;
    text-decoration: none;
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.botao:hover {
    transform: scale(1.1);
    background-color: var(--cor-hover);
}

.imagens {
    display: flex;
    justify-content: center;
    display: inline-block;
    gap: 30px;
    width: 100px;
    transition: all 0.2s ease-in-out;
}

.js {
    transition: all 0.2s ease-in-out;
}

.js:hover {
    transform: scale(1.1);
}

.html {
    transition: all 0.2s ease-in-out;
}

.html:hover {
    transform: scale(1.1);
}

.css {
 transition: all 0.2s ease-in-out;
}

.css:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .botaoDiv {
        flex-wrap: wrap;
    }
}

.rede-social-img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    vertical-align: middle;
}

.rodape {
    background-color:var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    padding: 15px;
    margin-top: auto;
    font-size: 14px;
    font-weight: 400;
}
